apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-app
        image: 601891175772.dkr.ecr.us-east-1.amazonaws.com/group9-app-repo:latest
        ports:
        - containerPort: 81
        env:
        - name: DBHOST
          value: "mysql"

        - name: DBUSER
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: username

        - name: DBPWD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: password

        - name: DATABASE
          value: "employees"

        - name: DBPORT
          value: "3306"
          
        - name: APP_TITLE
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: APP_TITLE
        - name: S3_BUCKET
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: S3_BUCKET
        - name: S3_IMAGE_KEY
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: S3_IMAGE_KEY


